.chat-window {
    background-color: white;
    width: 100vw;
    height: 96vh;
}

.channel-name-edit {
    align-items: center;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    border-bottom: 1px solid rgba(29, 28, 29, .164);
    padding: 0, 16px, 0, 16px;
}

.channel-name-edit h2 {
    font-size: 20px;
    padding-left: 20px;
}

.messages-container {
    background-color: white;
    height: 70%;
}
.new-meesage-container {
    bottom: 60px;
    box-shadow: 1px 0 0 0 rgb(29 28 29 / 13%);
    display: flex;
    font-family: Lato, sans-serif;
    justify-content: center;
    margin-top: 2px;
    position: absolute;
}