.message-container {
    font-size: 15px;
    position: relative;
}

.message-image-container {
    margin-top: 2px;
}

.user-image {
    border-radius: 4px;
}

.message-text {
    display: flex;
    justify-content: space-between;
}

.author-name-and-date {
    margin-bottom: 5px;
}

#author-name {
    font-size: 15px;
    font-weight: 600 !important;
    line-height: 100%;
}


#message-time {
    color: #616061;
        font-size: 12.5px;
        margin-left: 10px;
}

.edit-delete-options {
    /* margin-right: 10px; */
}

.no-edit-delete-option {
    display: none;
}

.edit-button {
    background-color: aliceblue;
    /* outline: none; */
    border:none;
}

.delete-button {
    background-color: aliceblue;
    /* outline: none; */
    border:none;
}

.edit-modal {
    font-family: Lato, sans-serif;
    display:flex;
    justify-content: center;
    box-shadow: 1px 0 0 0 rgb(29 28 29 / 13%);
    font-family: Lato, sans-serif;
    margin-top: 2px;
    flex-direction: column;
    border: 1px solid rgba(21, 20, 21, .295);
    border-radius: 8px;
    margin: 0 16px 0 20px;
}

.delete-modal {

}

.no-edit-modal {
    display: none;
}

.no-delete-modal {
    display: none;
}